/* CSS precedence order from strongest to weakest: */
/* 1. Styles marked with the !important keyword take priority over all else. */
/* 2. Inline styles made using the style attribute take priority over all except for styles marked with !important keywords. */
/* 3. Targeting an element through an ID attribute "#" takes next priority. */
/* 4. Next in priority comes targeting an element through one of an elements class attributes ".". */
/* 5. Then comes tag selectors */
/* 6. Styles of the same precedence applied later take effect over styles applied earlier. */
/* Remember only apply styles to an element and not a class if you won't those styles to apply to all the elements accross the whole site as all pages will be connected to the same stylesheets!*/

/* Foundational small styles that set up all base styles for the whole website and designed first most for mobile devices. */
/* ---------------- Home Page Styles --------------- */
body{
    font-family: sans-serif, Arial, Helvetica;
    color: #3a3a3a;
}
body>img{
    display: none;
}
body>div{
    background-color: white;
}
/* Header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7px;
}
header img{
    width: 150px;
}
header a{
    font-size: 18px;
    padding: 13px;
    color: #3a3a3a;
}

/* Nav */
nav{
    margin-top: 15px;
    background-color: #3a3a3a;
}
nav ul{
    height: 35px;
    padding-top: 8px;
    width: 310px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 15px;
}
nav ul li a{
    color: white;
    font-size: 14px;
    padding-block: 17px;
    padding-inline: 5px;
    font-weight: lighter;
}
nav ul li a:hover{
    background-color: #4c96d7;
}

/* Main */
main{
    font-size: 25px;
    margin: 5px;
}
.own_today{
    color: #113b5f;
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.own_today div{
    margin-top: 10px;
    margin-left: 8px;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
}
.own_today div > :nth-child(1){
    font-size: 15px;
}
.own_today div > :nth-child(4){
    margin-bottom: 14px;
}
.own_today_smallview{
    grid-column: 1/3;
    font-size: 25px;
    padding: 14px;
    margin: 15px;
    background-color: #4c96d7;
    color: #050505;
    justify-self: center;
    
}
.own_today_largeview{
    display: none;
}
.own_today img{
    grid-column: 1/3;
    grid-row: 1/2;
}
.reviews{
    margin-top: 15px;
    list-style-type: disc;
    margin-left: 19px;
}
.reviews > h2{
    margin-left: -17px;
}
.reviews li{
    font-size: 18px;
    line-height: 200%;
}
.upgrades{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 20px;
    margin-bottom: 15px;
}
.upgrades :first-child{
    grid-column: 1/-1;
}
.upgrades > div{
    background-color: #4c96d7;
    position: relative;
    min-height: 110px;
}
.upgrades > div > img{
    margin: 5px auto;
}
.upgrades > div > a{
    background-color: white;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 22px;
    margin: 0px auto;
    text-align: center;
    }

/* Footer */
footer{
    border-top: #3a3a3a solid 2px;
    text-align: center;
    padding: 4px;
}
footer p:nth-of-type(3){
    display: none;
}

/* login view */
main.login>*{
    margin-block: 10px;
}
main.login>form label{
    display: block;
}
main.login>form>*{
    margin-block: 7px;
}
main.login>form>label>*{
    height: 35px;
    display: block;
}
main.login>form *, main.login>a{
    font-size: 16px;
    color: #050505;
}
main.login>a{
    color: #7030b9;
}

/* register view */
main.register>*{
    margin-block: 10px;
}
main.register>form label{
    display: block;
}
main.register>form>*{
    margin-block: 7px;
}
main.register>form>label>*{
    height: 35px;
    display: block;
}
main.register>form *, main.register>a{
    font-size: 16px;
    color: #050505;
}
main.register>a{
    color: #7030b9;
}
main.register form button{
    height: 35px;
}
.newPassword{
    font-size: 12px !important;
    width: 100%;
    display: inline !important;
}


/* Vehicle Management View */
.VMViewh1{
    margin-bottom: 8px;
}
.VMViewh1>a{
    font-size: 18px;
}

/* Add classif view */
.addcclass>*{
    margin-block: 8px;
}
.addcclass>label>*{
    min-height: 35px;
}
.addcclass>label{
    font-size: 18px;
}
.addcclass>button{
    min-height: 30px;
}
.inputInstructions{
    font-size: 12px !important;
}

/* Add vehicle view */
.addvform>*{
    display: block;
    margin-block: 8px;
}
.addvform>label>*{
    min-height: 35px;
}
.addvform>label, p{
    font-size: 18px;
}
.addvform>button, .addvform>select{
    min-height: 30px;
}
.addvh1{
    margin-bottom: 10px;
}
.vehiclesByClassification{
    margin-top: 10px;
}

/* Logged In / Admin view */
.links{
    font-size: 18px;
}

/* client-update view */
form>h2{
    margin-bottom: 8px;
}
form>label{
    margin-bottom: 4px;
}
form>label>input, form>input{
    margin-bottom: 6px;
}
form:nth-of-type(2)>h2{
    margin-bottom: -3px;
}
.notice{
    color: red;
    margin: 5px;
}
.noticeGood{
    color: blue;
    margin: 5px;
}

/* Vehicle List Page */
html{
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }
   #inv-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   }
   
   #inv-display li{
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
   }
   
   #inv-display li img {
       max-width: 100%;
   }

/* vehicle detail page */
.h1VehicleDetail{
    margin-top: 10px;
    text-decoration: underline;
}
.vehicleDetails{
    width: 96vw;
    margin: 3px auto;
}
.vehicleDetails>.leftDetails>img{
    width: 500px;
    max-height: 500px;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-inline: auto;
}
.vehicleDetails>.leftDetails>h2{
    margin-bottom: 15px;
}
.vehicleDetails>.rightDetails>h2{
    margin-bottom: 15px;
}
.vehicleDetails>.rightDetails>p{
    margin-bottom: 15px;
}
.vehicleDetails>.rightDetails>p:nth-child(even){
    background-color: #b1afaf;
}
.thumbnailImages{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.thumbnailImages>img{
    width: 150px;
    margin-top: 8px;
}

/* image-admin view */
.image-admin *{
    display: block;
}
.image-admin>h1, .image-admin>h2{
    margin-block: 15px;
    margin-inline: 12px;
}

.image-admin input, .image-admin select{
    margin-bottom: 12px;
}

.image-admin label{
    margin-bottom: 8px;
}
.pImage{
    display: inline-block;
}
.imgUpBTN{
    font-size: 20px;
    background-color: #3671a5;
    font-weight: bolder;
}
.image-admin label{
    font-size: 20px;
}
#image-display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #c7d4df;
    padding: 10px;    
}
#image-display img{
    width: 250px;    
}
#image-display a{
    color: #050505;
    margin-top: 5px;
    margin-bottom: 10px;
}
.notice{
    font-weight: bolder !important;
    font-size: 20px !important;
}

   
